<a href="https://colab.research.google.com/github/usugunawan15/Tubes-DTI/blob/main/pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import warnings
import seaborn as sns
import matplotlib.pyplot as plt
# Configure libraries
warnings.filterwarnings('ignore')
plt.rcParams['figure.figsize'] = (10, 10)
plt.style.use('seaborn')

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/usugunawan15/Tubes-DTI/main/dataset_donor_darah.csv', sep = ';')
df

          No               ID  ...      JK  Frekuensi
0          1  6171DGRUD000091  ...    Pria          4
1          2  6171DGMUH000223  ...    Pria          3
2          3  6171M1RUS000015  ...    Pria         10
3          4  6171DGSAR000059  ...    Pria          3
4          5  6171DGSYI000009  ...    Pria         20
...      ...              ...  ...     ...        ...
25821  25822  6171DGARM000012  ...    Pria          2
25822  25823  6171DGAPR000026  ...    Pria          5
25823  25824  6171M2EMI000010  ...  Wanita          2
25824  25825  6171M3RID000005  ...    Pria          1
25825  25826  6171M1SUP000013  ...    Pria         17

[25826 rows x 7 columns]